In [1]:
import pandas as pd
import pickle
import numpy as np

In [2]:
df = pickle.load(open('dataset_level2.pkl','rb'))

In [4]:
df

# batting_team
# bowling team
# city
# current score
# ball left
# wickets left
# current rr
# last five

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,9,West Indies,India,0.1,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
1,9,West Indies,India,0.2,0,JD Campbell,Lauderhill,Central Broward Regional Park Stadium Turf Ground
2,9,West Indies,India,0.3,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
3,9,West Indies,India,0.4,1,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
4,9,West Indies,India,0.5,0,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
...,...,...,...,...,...,...,...,...
117,1954,Pakistan,New Zealand,19.2,6,0,NaN,Dubai International Cricket Stadium
118,1954,Pakistan,New Zealand,19.3,0,Sohail Tanvir,NaN,Dubai International Cricket Stadium
119,1954,Pakistan,New Zealand,19.4,1,0,NaN,Dubai International Cricket Stadium
120,1954,Pakistan,New Zealand,19.5,2,0,NaN,Dubai International Cricket Stadium
121,1954,Pakistan,New Zealand,19.6,0,Mohammad Amir,NaN,Dubai International Cricket Stadium

In [5]:
df.isnull().sum()

match_id               0
batting_team           0
bowling_team           0
ball                   0
runs                   0
player_dismissed       0
city                6548
venue                  0
dtype: int64

In [6]:
df[df['city'].isnull()]['venue'].value_counts()

Dubai International Cricket Stadium        2343
Pallekele International Cricket Stadium    1569
Melbourne Cricket Ground                   1079
Sydney Cricket Ground                       623
Harare Sports Club                          372
Adelaide Oval                               371
Sharjah Cricket Stadium                     127
Carrara Oval                                 64
Name: venue, dtype: int64

In [7]:
cities = np.where(df['city'].isnull(),df['venue'].str.split().apply(lambda x:x[0]),df['city'])

In [8]:
df['city'] = cities

In [9]:
df.isnull().sum()

match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [10]:
df.drop(columns=['venue'],inplace=True)

In [11]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,9,West Indies,India,0.1,0,0,Lauderhill
1,9,West Indies,India,0.2,0,JD Campbell,Lauderhill
2,9,West Indies,India,0.3,0,0,Lauderhill
3,9,West Indies,India,0.4,1,0,Lauderhill
4,9,West Indies,India,0.5,0,0,Lauderhill
...,...,...,...,...,...,...,...
117,1954,Pakistan,New Zealand,19.2,6,0,Dubai
118,1954,Pakistan,New Zealand,19.3,0,Sohail Tanvir,Dubai
119,1954,Pakistan,New Zealand,19.4,1,0,Dubai
120,1954,Pakistan,New Zealand,19.5,2,0,Dubai
121,1954,Pakistan,New Zealand,19.6,0,Mohammad Amir,Dubai

In [12]:
eligible_cities = df['city'].value_counts()[df['city'].value_counts() > 600].index.tolist()

In [13]:
df = df[df['city'].isin(eligible_cities)]

In [14]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,9,West Indies,India,0.1,0,0,Lauderhill
1,9,West Indies,India,0.2,0,JD Campbell,Lauderhill
2,9,West Indies,India,0.3,0,0,Lauderhill
3,9,West Indies,India,0.4,1,0,Lauderhill
4,9,West Indies,India,0.5,0,0,Lauderhill
...,...,...,...,...,...,...,...
117,1954,Pakistan,New Zealand,19.2,6,0,Dubai
118,1954,Pakistan,New Zealand,19.3,0,Sohail Tanvir,Dubai
119,1954,Pakistan,New Zealand,19.4,1,0,Dubai
120,1954,Pakistan,New Zealand,19.5,2,0,Dubai
121,1954,Pakistan,New Zealand,19.6,0,Mohammad Amir,Dubai

In [15]:
df['current_score'] = df.groupby('match_id').cumsum()['runs']

/var/folders/pz/l5jhl425705d3dx774l944540000gn/T/ipykernel_95751/1598928411.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['current_score'] = df.groupby('match_id').cumsum()['runs']

In [16]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score
0,9,West Indies,India,0.1,0,0,Lauderhill,0
1,9,West Indies,India,0.2,0,JD Campbell,Lauderhill,0
2,9,West Indies,India,0.3,0,0,Lauderhill,0
3,9,West Indies,India,0.4,1,0,Lauderhill,1
4,9,West Indies,India,0.5,0,0,Lauderhill,1
...,...,...,...,...,...,...,...,...
117,1954,Pakistan,New Zealand,19.2,6,0,Dubai,158
118,1954,Pakistan,New Zealand,19.3,0,Sohail Tanvir,Dubai,158
119,1954,Pakistan,New Zealand,19.4,1,0,Dubai,159
120,1954,Pakistan,New Zealand,19.5,2,0,Dubai,161
121,1954,Pakistan,New Zealand,19.6,0,Mohammad Amir,Dubai,161

In [17]:
df['over'] = df['ball'].apply(lambda x:str(x).split(".")[0])
df['ball_no'] = df['ball'].apply(lambda x:str(x).split(".")[1])
df

/var/folders/pz/l5jhl425705d3dx774l944540000gn/T/ipykernel_95751/2777558413.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['over'] = df['ball'].apply(lambda x:str(x).split(".")[0])
/var/folders/pz/l5jhl425705d3dx774l944540000gn/T/ipykernel_95751/2777558413.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ball_no'] = df['ball'].apply(lambda x:str(x).split(".")[1])

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no
0,9,West Indies,India,0.1,0,0,Lauderhill,0,0,1
1,9,West Indies,India,0.2,0,JD Campbell,Lauderhill,0,0,2
2,9,West Indies,India,0.3,0,0,Lauderhill,0,0,3
3,9,West Indies,India,0.4,1,0,Lauderhill,1,0,4
4,9,West Indies,India,0.5,0,0,Lauderhill,1,0,5
...,...,...,...,...,...,...,...,...,...,...
117,1954,Pakistan,New Zealand,19.2,6,0,Dubai,158,19,2
118,1954,Pakistan,New Zealand,19.3,0,Sohail Tanvir,Dubai,158,19,3
119,1954,Pakistan,New Zealand,19.4,1,0,Dubai,159,19,4
120,1954,Pakistan,New Zealand,19.5,2,0,Dubai,161,19,5
121,1954,Pakistan,New Zealand,19.6,0,Mohammad Amir,Dubai,161,19,6

In [18]:
df['balls_bowled'] = (df['over'].astype('int')*6) + df['ball_no'].astype('int')
df

/var/folders/pz/l5jhl425705d3dx774l944540000gn/T/ipykernel_95751/562775579.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_bowled'] = (df['over'].astype('int')*6) + df['ball_no'].astype('int')

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled
0,9,West Indies,India,0.1,0,0,Lauderhill,0,0,1,1
1,9,West Indies,India,0.2,0,JD Campbell,Lauderhill,0,0,2,2
2,9,West Indies,India,0.3,0,0,Lauderhill,0,0,3,3
3,9,West Indies,India,0.4,1,0,Lauderhill,1,0,4,4
4,9,West Indies,India,0.5,0,0,Lauderhill,1,0,5,5
...,...,...,...,...,...,...,...,...,...,...,...
117,1954,Pakistan,New Zealand,19.2,6,0,Dubai,158,19,2,116
118,1954,Pakistan,New Zealand,19.3,0,Sohail Tanvir,Dubai,158,19,3,117
119,1954,Pakistan,New Zealand,19.4,1,0,Dubai,159,19,4,118
120,1954,Pakistan,New Zealand,19.5,2,0,Dubai,161,19,5,119
121,1954,Pakistan,New Zealand,19.6,0,Mohammad Amir,Dubai,161,19,6,120

In [19]:
df['balls_left'] = 120 - df['balls_bowled']
df['balls_left'] = df['balls_left'].apply(lambda x:0 if x<0 else x)
df

/var/folders/pz/l5jhl425705d3dx774l944540000gn/T/ipykernel_95751/2304996896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_left'] = 120 - df['balls_bowled']
/var/folders/pz/l5jhl425705d3dx774l944540000gn/T/ipykernel_95751/2304996896.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balls_left'] = df['balls_left'].apply(lambda x:0 if x<0 else x)

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left
0,9,West Indies,India,0.1,0,0,Lauderhill,0,0,1,1,119
1,9,West Indies,India,0.2,0,JD Campbell,Lauderhill,0,0,2,2,118
2,9,West Indies,India,0.3,0,0,Lauderhill,0,0,3,3,117
3,9,West Indies,India,0.4,1,0,Lauderhill,1,0,4,4,116
4,9,West Indies,India,0.5,0,0,Lauderhill,1,0,5,5,115
...,...,...,...,...,...,...,...,...,...,...,...,...
117,1954,Pakistan,New Zealand,19.2,6,0,Dubai,158,19,2,116,4
118,1954,Pakistan,New Zealand,19.3,0,Sohail Tanvir,Dubai,158,19,3,117,3
119,1954,Pakistan,New Zealand,19.4,1,0,Dubai,159,19,4,118,2
120,1954,Pakistan,New Zealand,19.5,2,0,Dubai,161,19,5,119,1
121,1954,Pakistan,New Zealand,19.6,0,Mohammad Amir,Dubai,161,19,6,120,0

In [20]:
df['player_dismissed'] = df['player_dismissed'].apply(lambda x:0 if x=='0' else 1)
df['player_dismissed'] = df['player_dismissed'].astype('int')
df['player_dismissed'] = df.groupby('match_id').cumsum()['player_dismissed']
df['wickets_left'] = 10 - df['player_dismissed']

/var/folders/pz/l5jhl425705d3dx774l944540000gn/T/ipykernel_95751/540685528.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df['player_dismissed'].apply(lambda x:0 if x=='0' else 1)
/var/folders/pz/l5jhl425705d3dx774l944540000gn/T/ipykernel_95751/540685528.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df['player_dismissed'].astype('int')
/var/folders/pz/l5jhl425705d3dx774l944540000gn/T/ipykernel_95751/540685528.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df.groupby('match_id').cumsum()['player_dismissed']
/var/folders/pz/l5jhl425705d3dx774l944540000gn/T/ipykernel_95751/540685528.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wickets_left'] = 10 - df['player_dismissed']

In [21]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left
0,9,West Indies,India,0.1,0,0,Lauderhill,0,0,1,1,119,10
1,9,West Indies,India,0.2,0,1,Lauderhill,0,0,2,2,118,9
2,9,West Indies,India,0.3,0,1,Lauderhill,0,0,3,3,117,9
3,9,West Indies,India,0.4,1,1,Lauderhill,1,0,4,4,116,9
4,9,West Indies,India,0.5,0,1,Lauderhill,1,0,5,5,115,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,1954,Pakistan,New Zealand,19.2,6,6,Dubai,158,19,2,116,4,4
118,1954,Pakistan,New Zealand,19.3,0,7,Dubai,158,19,3,117,3,3
119,1954,Pakistan,New Zealand,19.4,1,7,Dubai,159,19,4,118,2,3
120,1954,Pakistan,New Zealand,19.5,2,7,Dubai,161,19,5,119,1,3
121,1954,Pakistan,New Zealand,19.6,0,8,Dubai,161,19,6,120,0,2

In [22]:
df['crr'] = (df['current_score']*6)/df['balls_bowled']

/var/folders/pz/l5jhl425705d3dx774l944540000gn/T/ipykernel_95751/914577034.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crr'] = (df['current_score']*6)/df['balls_bowled']

In [23]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr
0,9,West Indies,India,0.1,0,0,Lauderhill,0,0,1,1,119,10,0.000000
1,9,West Indies,India,0.2,0,1,Lauderhill,0,0,2,2,118,9,0.000000
2,9,West Indies,India,0.3,0,1,Lauderhill,0,0,3,3,117,9,0.000000
3,9,West Indies,India,0.4,1,1,Lauderhill,1,0,4,4,116,9,1.500000
4,9,West Indies,India,0.5,0,1,Lauderhill,1,0,5,5,115,9,1.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,1954,Pakistan,New Zealand,19.2,6,6,Dubai,158,19,2,116,4,4,8.172414
118,1954,Pakistan,New Zealand,19.3,0,7,Dubai,158,19,3,117,3,3,8.102564
119,1954,Pakistan,New Zealand,19.4,1,7,Dubai,159,19,4,118,2,3,8.084746
120,1954,Pakistan,New Zealand,19.5,2,7,Dubai,161,19,5,119,1,3,8.117647
121,1954,Pakistan,New Zealand,19.6,0,8,Dubai,161,19,6,120,0,2,8.050000

In [24]:
groups = df.groupby('match_id')

match_ids = df['match_id'].unique()
last_five = []
for id in match_ids:
    last_five.extend(groups.get_group(id).rolling(window=30).sum()['runs'].values.tolist())

/var/folders/pz/l5jhl425705d3dx774l944540000gn/T/ipykernel_95751/3055083752.py:6: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['batting_team', 'bowling_team', 'city'], dtype='object')
  last_five.extend(groups.get_group(id).rolling(window=30).sum()['runs'].values.tolist())

In [25]:
df['last_five'] = last_five

/var/folders/pz/l5jhl425705d3dx774l944540000gn/T/ipykernel_95751/1595651733.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['last_five'] = last_five

In [26]:
df[['batting_team', 'bowling_team', 'city', 'current_score', 'balls_left', 'wickets_left', 'crr', 'last_five']]

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five
0,West Indies,India,Lauderhill,0,119,10,0.000000,NaN
1,West Indies,India,Lauderhill,0,118,9,0.000000,NaN
2,West Indies,India,Lauderhill,0,117,9,0.000000,NaN
3,West Indies,India,Lauderhill,1,116,9,1.500000,NaN
4,West Indies,India,Lauderhill,1,115,9,1.200000,NaN
...,...,...,...,...,...,...,...,...
117,Pakistan,New Zealand,Dubai,158,4,4,8.172414,44.0
118,Pakistan,New Zealand,Dubai,158,3,3,8.102564,43.0
119,Pakistan,New Zealand,Dubai,159,2,3,8.084746,43.0
120,Pakistan,New Zealand,Dubai,161,1,3,8.117647,45.0
121,Pakistan,New Zealand,Dubai,161,0,2,8.050000,45.0

In [27]:
final_df = df.groupby('match_id').sum()['runs'].reset_index().merge(df,on='match_id')

In [28]:
final_df=final_df[['batting_team','bowling_team','city','current_score','balls_left','wickets_left','crr','last_five','runs_x']]

In [29]:
final_df.dropna(inplace=True)

In [30]:
final_df.isnull().sum()

batting_team     0
bowling_team     0
city             0
current_score    0
balls_left       0
wickets_left     0
crr              0
last_five        0
runs_x           0
dtype: int64

In [31]:
final_df = final_df.sample(final_df.shape[0])

In [32]:
final_df.sample(2)

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,runs_x
54904,Australia,Sri Lanka,Melbourne,115,21,5,6.969697,38.0,154
23329,Sri Lanka,West Indies,Nottingham,73,80,10,10.950000,52.0,192

In [33]:
X = final_df.drop(columns=['runs_x'])
y = final_df['runs_x']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [34]:
X_train

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five
14135,England,Pakistan,Abu Dhabi,57,65,8,6.218182,28.0
51488,West Indies,Bangladesh,Mirpur,47,83,9,7.621622,41.0
8119,West Indies,Pakistan,Karachi,66,84,9,11.000000,57.0
25354,India,New Zealand,Hamilton,128,27,7,8.258065,34.0
42568,India,Sri Lanka,St Lucia,137,19,8,8.138614,39.0
...,...,...,...,...,...,...,...,...
49823,Pakistan,South Africa,Lahore,111,18,5,6.529412,24.0
49898,England,New Zealand,Auckland,103,64,7,11.035714,73.0
10023,South Africa,England,Southampton,38,88,7,7.125000,36.0
21966,England,South Africa,Johannesburg,59,76,9,8.045455,49.0
29377,Pakistan,South Africa,Nottingham,86,54,8,7.818182,39.0

In [35]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

In [36]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer([
    ('trf', OneHotEncoder(sparse_output=False, drop='first'), ['batting_team', 'bowling_team', 'city'])
],
remainder='passthrough')

In [37]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=1))
])

In [38]:
pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)
print(r2_score(y_test, y_pred))
print(mean_absolute_error(y_test, y_pred))

0.9877980947494507
1.5722756385803223

In [39]:
pickle.dump(pipe,open('pipe.pkl','wb'))

In [51]:
import xgboost
xgboost.__version__

'1.7.6'

In [46]:
pip install --upgrade scikit-learn xgboost

Requirement already satisfied: scikit-learn in /Users/rahulpurohit/opt/anaconda3/lib/python3.9/site-packages (1.6.1)
Requirement already satisfied: xgboost in /Users/rahulpurohit/opt/anaconda3/lib/python3.9/site-packages (1.7.6)
Collecting xgboost
  Downloading xgboost-2.1.4-py3-none-macosx_10_15_x86_64.macosx_11_0_x86_64.macosx_12_0_x86_64.whl (2.1 MB)
     |████████████████████████████████| 2.1 MB 648 kB/s eta 0:00:01
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/rahulpurohit/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: joblib>=1.2.0 in /Users/rahulpurohit/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: scipy>=1.6.0 in /Users/rahulpurohit/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.7.3)
Requirement already satisfied: numpy>=1.19.5 in /Users/rahulpurohit/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.22.4)
Installing collected packages: xgboost
  Attempting uninstall: xgboost
    Found existing installation: xgboost 1.7.6
    Uninstalling xgboost-1.7.6:
      Successfully uninstalled xgboost-1.7.6
Successfully installed xgboost-2.1.4
Note: you may need to restart the kernel to use updated packages.

In [54]:
import sklearn
print(sklearn.__version__)

1.6.1

In [40]:
import matplotlib.pyplot as plt
import numpy as np

# Predicting the scores using the test data
y_pred_xgboost = xgboost_model.predict(X_test)  # Predictions for XGBoost
y_pred_rf = rf_model.predict(X_test)  # Predictions for Random Forest

# Actual scores (test set)
y_actual = y_test

# Plotting the results
plt.figure(figsize=(10, 6))
plt.plot(np.arange(len(y_actual)), y_actual, label="Actual Scores", color='blue', marker='o', markersize=5)
plt.plot(np.arange(len(y_pred_xgboost)), y_pred_xgboost, label="Predicted Scores (XGBoost)", color='green', linestyle='--')
plt.plot(np.arange(len(y_pred_rf)), y_pred_rf, label="Predicted Scores (Random Forest)", color='red', linestyle='--')

plt.title('Prediction vs Actual Scores', fontsize=16)
plt.xlabel('Test Data Index', fontsize=14)
plt.ylabel('Scores (Runs)', fontsize=14)
plt.legend()
plt.grid(True)
plt.tight_layout()

# Display the plot
st.pyplot(plt)

NameError: name 'xgboost_model' is not defined